.vscode
node_modules
.vscode-test
data
out
.vscode-test.mjs
PluginDemo/target/classes
PluginDemo/target/generated-sources
PluginDemo/target/maven-archiver
PluginDemo/target/maven-status
PluginDemo/target/test-classes

!PluginDemo/.vscode/launch.json