.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

demo/**
icons/*.svg
release/*

# Exception
!src/webview/main.css
!src/webview/main.js